/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/libbyteio.la
/libtool
/m4
/*.lo
/*.o
/stamp-h1
/.deps
/.libs
